extend layout
block more_js
 script(src="/javascripts/date_format.js")
 script(src="/javascripts/core.js")
 script(src="/javascripts/i18n.js")
 script(src="/javascripts/persons.js")
 script(src="/javascripts/jaml-views.js")
 script(src="/javascripts/controller.index.js")
block content
      .welcome
       p
        | The point of this assessment is demonstrate skills with JS, JSON, XML and basic RESTful interaction. 
        p    
        a(href='#', onclick='my_apply("welcome.intro", "intro", ".main-content");my_apply("person.list", "widget", ".sidebar");' ) start cms persons 
        
block sidebar
  .widget(style='display:none;')
     
      a(href='#', onclick='basic_person();') person 
      br
      a(href='#', onclick='i18n_person();') person_i18n 
     