extend layout
block more_js
 script(src="/javascripts/libs/date_format.js")
 script(src="/javascripts/api/core/core.js")
 script(src="/javascripts/api/persons/i18n.js")
 script(src="/javascripts/api/persons/model.js")
 script(src="/javascripts/api/core/general_jaml.js")
 script(src="/javascripts/api/persons/person_jaml.js")
 script(src="/javascripts/api/core/ajax.js")
 script(src="/javascripts/api/core/ui.js")
 script(src="/javascripts/api/persons/entity.js")
 script(src="/javascripts/api/persons/ui_actions.js")
 script(src="/javascripts/api/persons/ui_bindings.js")
 script(src="/javascripts/consilience_test.js")

block content
        
block sidebar
     