extend layout
block content
      .welcome
        p
        | The point of this assessment is demonstrate skills with JS, JSON, XML and basic RESTful interaction. 
        p    
        a(href='#', onclick='start();') start 

block sidebar
  .widget(style='display:none')
    h1 Persons List
    p
        a.person_detail(href='#', person_id=1) load person 1 
        a.person_edit(href='#', person_id=1) [edit]
        br
        a.person_detail(href='#', person_id=2) load person 2
        a.person_edit(href='#', person_id=2) [edit]    
