extend layout
block more_js
 script(src="/javascripts/my_libs/date_format.js")
 script(src="/javascripts/my_libs/core.js")
 script(src="/javascripts/my_libs/i18n.js")
 script(src="/javascripts/domain_libs/persons.js")
 script(src="/javascripts/jamls/general_jaml.js")
 script(src="/javascripts/jamls/person_jaml.js")
 script(src="/javascripts/api_core.js")
 script(src="/javascripts/api_client.js")
block content
        
block sidebar
     