!!!5
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/smoothness/jquery-ui-1.9.2.custom.css')

    script(src="/javascripts/libs/jquery-1.8.3.js")
    script(src="/javascripts/libs/jquery-ui-1.9.2.custom.js")
    script(src="/javascripts/libs/jquery.form.js")
    script(src="/javascripts/libs/Jaml-all.js")
    block more_js
  body
    header
      h1 #{title}
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p developed by juanantonioruz@gmail.com
    script(src="/javascripts/view.index.js")