!!!5
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ui-lightness/jquery-ui-1.9.2.custom.css')

    script(src="/javascripts/jquery-1.8.3.js")
    script(src="/javascripts/jquery-ui-1.9.2.custom.js")
    block more_js
  body
    header
      h1 #{title}
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      a(href='#', onclick='localize("US");') US 
      -
      a(href='#', onclick='localize("UK");') UK 
      -
      a(href='#', onclick='localize("AU");') AU 
      hr
      a(href='#', onclick='basic_person();') person 
      br
      a(href='#', onclick='i18n_person();') person_i18n 
      hr
      br
      p developed by juanantonioruz@gmail.com
    script(src="/javascripts/view.index.js")